* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: black; */
  /* background-image: linear-gradient(
   to bottom,
    rgba(255, 0, 0, 0),
    rgb(98, 0, 255)
  );  */
  background-image: linear-gradient(grey, black);
}

.music-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.line {
  width: 12px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
  animation: musicloader 1.5s ease-in-out infinite;
}

@keyframes musicloader {
  0% {
    height: 4px;
  }
  50% {
    height: 90px;
  }
  100% {
    height: 4px;
  }
}

.line:nth-child(1) {
  background-color: purple;
  animation-delay: 1s;
}

.line:nth-child(2) {
  background-color: red;
  animation-delay: 0.8s;
}

.line:nth-child(3) {
  background-color: #d71579;
  animation-delay: 0.6s;
}

.line:nth-child(4) {
  background-color: #d76715;
  animation-delay: 0.4s;
}

.line:nth-child(5) {
  background-color: #d7c415;
  animation-delay: 0.2s;
}

.line:nth-child(6) {
  background-color: #d7c415;
  animation-delay: 0.2s;
}

.line:nth-child(7) {
  background-color: purple;
  animation-delay: 1s;
}

.line:nth-child(8) {
  background-color: red;
  animation-delay: 0.8s;
}

.line:nth-child(9) {
  background-color: #d71579;
  animation-delay: 0.6s;
}

.line:nth-child(10) {
  background-color: #d76715;
  animation-delay: 0.4s;
}
